<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:switch expression="{layout}">
    <f:case value="1">
        <h1><f:link.typolink parameter="{link}">{header}</f:link.typolink></h1>
    </f:case>
    <f:case value="2">
        <h2><f:link.typolink parameter="{link}">{header}</f:link.typolink></h2>
    </f:case>
    <f:case value="3">
        <h3><f:link.typolink parameter="{link}">{header}</f:link.typolink></h3>
    </f:case>
    <f:case value="4">
        <h4><f:link.typolink parameter="{link}">{header}</f:link.typolink></h4>
    </f:case>
    <f:case value="5">
        <h5><f:link.typolink parameter="{link}">{header}</f:link.typolink></h5>
    </f:case>
    <f:case value="6">
        <h6><f:link.typolink parameter="{link}">{header}</f:link.typolink></h6>
    </f:case>
    <f:case value="7">
        <h2 class="greenBackground"><f:link.typolink parameter="{link}">{header}</f:link.typolink></h2>
    </f:case>
    <f:case value="8">
        <h2 class="lightGreenBackground"><f:link.typolink parameter="{link}">{header}</f:link.typolink></h2>
    </f:case>
    <f:case value="9">
        <p class="artnr"><f:link.typolink parameter="{link}">{header}</f:link.typolink></h2>
    </f:case>
    <f:case value="100">
        <f:comment> -- do not show header -- </f:comment>
    </f:case>
    <f:case default="true">
        <f:if condition="{default}">
            <f:render partial="Header/Header" arguments="{
				header: header,
				layout: default,
				link: link}" />
        </f:if>
    </f:case>
</f:switch>
</html>