{namespace m=\MaikHagenbruch\Template\ViewHelpers}
<f:layout name="Default" />
<f:section name="body">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="typo3conf/ext/template/Resources/Public/Images/logo.png" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
                    <f:format.raw>{mainMenu}</f:format.raw>
                </div>
            </div>
        </nav>
        <f:format.raw>{headerContent}</f:format.raw>
    </header>

    <section class="content">
        <!-- TYPOSEARCH_begin -->
        <f:format.raw>{mainContent}</f:format.raw>
        <!-- TYPOSEARCH_end -->
    </section>

    <footer>
        <f:format.raw>{footerContent}</f:format.raw>
    </footer>
</f:section>

